<div class="upload">
  <span (click)="showUploadList()" class="mdi mdi-upload">
    <span *ngIf="countInProgress$ | async" class="count" >{{countInProgress$ | async}}</span>
  </span>

  <div class="upload-box"
    (mouseup)="preventDefault()"
    (mousedown)="preventDefault()"
    (click)="preventDefault()"
    [ngStyle]="{display: (displayUpload$ | async) ? 'block' : 'none'}"
  >

    <div class="arrow-top"></div>

    <div *ngIf="(uploadList$ | async).length > (countInProgress$ | async)" class="clear-done">
        <a href="#" (click)="clearAllDone()">Clear done</a>
    </div>

    <div class="items-container">
      <div class="loading-item" [ngClass]="{'done' : (item.progress | async) >= 1}" *ngFor="let item of uploadList$ | async; let i = index">
        <div class="foreground" [ngStyle]="{'width' : (item.progress | async) * 100 + '%'}"></div>
        <span class="status">
          <span class="name">{{item.name}}</span>
          <span class="size">{{item.loaded | async | size}} / {{item.total | size}}</span>
          <span class="percent">{{item.progress | async | progress}}</span>
        </span>
        <span class="cancel-button mdi" [ngClass]="{'mdi-check-circle-outline' : (item.progress | async) >= 1, 'mdi-close-circle' : (item.progress | async) < 1}" (click)="cancel($event, item)"></span>
      </div>
    </div>

    <div *ngIf="(uploadList$ | async).length === 0">
      No uploading files
    </div>

  </div>
</div>
