<div #content class="content">
  <div class="sprite-container" *ngFor="let sprite of sprites$ | async">

      <div class="sprite-img-holder">
        <img class="sprite-img" [src]="sprite.preview | secure">
        <div class="hidden-sprite-info">
          <span class="info">
            Last update: {{sprite.lastUpdate | date: 'dd/MM/y HH:mm:ss'}}<br>
          </span>
          <span class="link button edit-button">
            <span class="link mdi mdi-pencil preset-icon"></span>
          </span>
          <a class="button download-button" [href]="sprite.path | secure" [download]="sprite.name" target="_blank">
            <span class="link mdi mdi-download preset-icon"></span>
          </a>
        </div>
        <div class="sprite-size">{{sprite.meta.width}} x {{sprite.meta.height}}</div>
      </div>

    <div class="sprite-name">
      <span>{{sprite.name}}</span>
      <div class="gradient-end"></div>
    </div>
  </div>

  <div class="empty-list"
       [ngClass]="{ short: (sprites$ | async).length > 0 }"
  >
    <div class="not-found"
         [style.opacity]="(!initializing && !(isLoading$ | async) && (sprites$ | async).length === 0) ? 1 : 0"
         >
      <div class="not-found-icon"></div>
      <span class="not-found-text">Oh, nothing found :(</span>
    </div>
    <div [style.opacity]="(isLoading$ | async) ? 1 : 0" class="loading mdi mdi-loading"></div>
  </div>
</div>
