$light-text-color: #999999;
$text-color: #666666;
$dark-text-color: #333333;

$placeholder-color: #BBB;

$border-width: 1px;
$side-panel-width: 300px;

$main-background: white;
$light-background: #EEE;
$medium-background: #DDD;

$medium-foreground: #999;
$dark-foreground: #666;

$light-border: solid #{$border-width} #DDD;
$dark-border: solid #{$border-width} #999;


$checkbox-disabled: #999;
$checkbox-selected: #EEE;
$checkbox-hover: #DDD;

$button: #EEE;
$button-active: #EEE;
$button-hover: #DDD;

