$light-text-color: #999999;
$text-color: #666666;
$dark-text-color: #333333;

$placeholder-color: #BBB;

$main-background: white;
$light-background: #EEE;
$light-border: solid 1px #DDD;
$dark-background: #DDD;
$dark-border: solid 1px #999;

$checkbox-disabled: #999;
$checkbox-selected: #EEE;
$checkbox-hover: #DDD;

$button: #EEE;
$button-active: #EEE;
$button-hover: #DDD;

