@import "../../variables.scss";

.main-container {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
}

$header-height: 60px;

app-header {
  height: $header-height;
  position: fixed;
  width: 100%;
  z-index: 10;
}

app-side-menu {
  flex-shrink: 0;
  width: $side-panel-width;
}

.content-holder {
  top: $header-height;
  position: relative;
}

.drop-state {
  * {
    pointer-events: none;
  }

  .drop-background {
    opacity: 1;
  }
}

.drop-background {
  opacity: 0;

  $margin: 10px;

  position: fixed;
  top: $margin;
  left: $margin;
  right: $margin;
  bottom: $margin;
  border: solid 3px rgba(127,127,127, 0.5);
  background-color: rgba(0,0,0,0.3);
  border-radius: 3px;
  z-index: 100;
}
