<div class="content">
  <div class="sprite-container" *ngFor="let sprite of sprites">
    <!-- <a [href]="sprite.path" download target="_blank"> -->
      <div class="sprite-img-holder">
        <img class="sprite-img" [src]="sprite.path">
        <div class="hidden-sprite-info">
          <a class="button" [href]="sprite.path" download target="_blank">
            <span class="mdi mdi-download preset-icon"></span>
          </a>
        </div>
        <span class="sprite-size">{{sprite.meta.width}} x {{sprite.meta.height}}</span>
      </div>
    <!-- </a> -->
    <span class="sprite-name">{{sprite.name}}</span>
  </div>
</div>
