@import "../../variables.scss";

.content {
  flex-grow: 1;
  padding: 20px;
}

.sprite-container {

  $max-image-width: 256px;
  $max-image-height: 256px;
  $image-name-height: 30px;

  //width: $max-image-width;
  //height: $max-image-height + $image-name-height;
  vertical-align: top;
  display: inline-block;
  position: relative;
  background-color: $dark-background;
  padding: 10px;
  margin: 10px;
  border-radius: 3px;

  & > a {
    font-size: 0;
  }

  .sprite-img-holder {
    position: relative;
    width: $max-image-width;
    height: $max-image-height;
    display: table-cell;
    background: url("../../assets/tranparency.png");
    vertical-align: middle;
    text-align: center;

    .sprite-size {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 2px 8px 0px 0px;
      background-color: #DDD;
      border-radius: 0px 5px 0px 0px;
      font-size: 10pt;
      color: #333;
    }

    .hidden-sprite-info {
      opacity: 0;
      display: block;
      transition-property: opacity;
      transition-duration: 0.15s;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(100,100,100,0.8);

      .button {
        display: inline-block;
        width: 30px;
        height: 30px;
        font-size: 22px;
        color: $dark-text-color;
        background-color: $dark-background;
        border-radius: 3px;

        position: absolute;
        right: 10px;
        bottom: 10px;

        &:hover {
          background-color: $light-background;
        }

        &:active {
          background-color: $dark-background;
        }
      }
    }

    &:hover {
      .hidden-sprite-info {
        opacity: 1;
      }
    }
  }

  .sprite-img {
    max-width: 90%;
    max-height: 90%;
  }

  .sprite-name {
    height: $image-name-height;
    display: block;
    position: relative;
    top: 7px;
    color: $dark-text-color;
  }
}
