@import "../../variables.scss";

:host {
  display: block;
}

:host > div {
  background-color: $light-background;
  border: $light-border;
  height: 100%;
  box-sizing: border-box;

  position: relative;
}

.logo-container {

  width: $side-panel-width;
  display: inline-block;
  margin: 0px 20px 0px 10px;

  .logo-link {
    position: relative;
    display: inline-block;
    top: 5px;

    .logo-text {
      font-family: "Open Sans", "Helvetica Neue", sans-serif;
      font-weight: 700;
      position: relative;
      top: -16px;
    }

    img {
      max-height: 35px;
      top: 0px;
      position: relative;
      margin: 5px;
      margin-right: 10px;

      &:hover {
        animation: shaking 200ms 2;
      }

      @keyframes shaking {
        0% {
          transform: rotate(0deg);
        }
        25% {
          transform: rotate(15deg);
        }
        60% {
          transform: rotate(-10deg);
        }
        100% {
          transform: rotate(0deg);
        }
      }
    }

    &:active, &:link, &:hover, &:visited {
      color: $text-color;
      text-decoration: none;
    }
  }
}

.search-form {
  position: absolute;
  left: $side-panel-width;
  margin-left: 20px;
  height: 100%;
  display: flex;
  right: 245px;
  top: 0;

  input {
    flex-grow: 1;
    height: 34px;
    top: 12px;
    position: relative;
    padding: 7px;
    box-sizing: border-box;
  }
}

.help-button {
  position: relative;
  margin-left: 5px;
  position: relative;
  top: 15px;

  span {
    font-size: 20px;
    color: $text-color;

    &:hover {
      color: $light-text-color;
    }
    &:active {
      color: $text-color;
    }
  }
}

.help-box {

  $width: 200px;

  width: $width;
  position: absolute;
  top: 35px;
  left: -#{$width/2};
  background-color: $dark-background;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 14px;
  z-index: 5;

  .search-example {
    border-bottom: dashed 1px #{$dark-text-color};
    text-decoration: none;
    color: $dark-text-color;
  }

  .arrow-top {
    left: #{$width/2};
    top: -10px;
  }
}

.upload {
  font-size: 32px;
  color: $text-color;
  display: inline-block;
  position: absolute;
  right: 12px;
  top: 8px;

  &:hover {
    span {
      color: $light-text-color;
    }
  }

  &:active {
    span {
      color: $text-color;
    }
  }

  .upload-box {
    $width: 250px;

    width: $width;
    position: absolute;
    top: 55px;
    right: -9px;
    background-color: $dark-background;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 5;

    .arrow-top {
      right: 15px;
      top: -10px;
    }
  }
}

.arrow-top {
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #{$dark-background};
  position: absolute;
}
